/*CSS VARIABLES*/
/*Colores */
:root{
  --aplication-color-primary:#E23434;
  --aplication-color-second:#333745;
  --aplication-color-text:#fff; 
}

body
{
  margin: 0;
  padding: 0;
}

*
{
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.welcome{
  background-color: var(--aplication-color-primary); 
}


